body {
    font-family: 'Roboto', sans-serif;
}
.custom-input {
    border: 1px solid #e5e7eb;
    padding: 0.5rem;
    border-radius: 0.375rem;
    width: 100%;
}
.custom-button {
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
}
.custom-button:hover {
    background-color: #2563eb;
}
.file-upload {
    border: 2px dashed #e5e7eb;
    padding: 1rem;
    border-radius: 0.375rem;
    text-align: center;
    cursor: pointer;
}
.file-upload:hover {
    border-color: #3b82f6;
}
.delete-custom-extension-button {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 0.25rem 0.5rem; /* Reduced Padding */
    border-radius: 0.375rem; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    margin-left: 0.5rem; /* Margin */
    font-size: 0.75rem; /* Smaller font size */
}

.delete-custom-extension-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}